src/by/it/berdnik/jd02_07/person.dtd

<?xml version="1.0" encoding="utf-8" ?>
        <!ELEMENT persons (person)+>
        <!ELEMENT person (email,nickname,password,buys)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT nickname (#PCDATA)>
        <!ELEMENT password (#PCDATA)>
<!ELEMENT buys (buy)*>
<!ELEMENT buy (item,id,specif,price,address)>
        <!ELEMENT item (#PCDATA)>
        <!ELEMENT id (#PCDATA)>
        <!ELEMENT specif (#PCDATA)>
        <!ELEMENT price (#PCDATA)>
        <!ELEMENT address (#PCDATA)>
