src/by/it/seroglazov/jd02_07/recipes/recipes.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT recipes (recipe)+>
<!ELEMENT recipe (name, tags*, ingredients, description)>
<!ATTLIST recipe cocktail_id ID #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT tags (tag)*>
<!ELEMENT tag (#PCDATA)>
<!ELEMENT ingredients (ingredient)+>
<!ELEMENT ingredient (id, amount, unit, garnish*)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT amount (#PCDATA)>
<!ELEMENT unit (#PCDATA)>
<!ELEMENT garnish (#PCDATA)>
<!ELEMENT description (#PCDATA)>